@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/Content/homePageAccess.css">
</head>

<body>
    <h1>PIZZA JUAN</h1>
    <button id="orderHereButton">Ordene en línea aquí</button>
    <hr/>
    <img src="~/images/home/pizzaHome.jpg" class="img-fluid" alt="Responsive image">
</body>