#title {
    text-align: center;
    color: #F48B4A;
}

button {
    background-color: #F48B4A;
    border-color: black;
    color: white;
    height: 3rem;
    width: 16rem;
    margin: 0.5rem;
}

button:hover {
    background-color: #A20021;
    border-color: black;
    color: white;
    cursor: pointer;
}

.combos {
    border-color: black;
    border-width: 2px;
}

.combosDescription {
    font-size: 25px;
}

#backMenu {
    background-color: #A20021;
    border-color: white;
    color: white;
    height: 3rem;
    width: 16rem;
    margin: 0.5rem;
}

    #backMenu:hover {
        background-color: #6b2433;
        border-color: white;
        color: white;
        cursor: pointer;
    }
