h1 {
    color: #F48B4A;
}

#title {
    text-align: center;
}

button {
    background-color: white;
    border-color: black;
    color: black;
    height: 3rem;
    width: 16rem;
    margin: 0.5rem;
}

button:hover {
    background-color: #F48B4A;
    border-color: white;
    color: white;
    cursor: pointer;
}

#addToCart {
    background-color: #F48B4A;
    border-color: white;
    color: white;
    height: 3rem;
    width: 16rem;
    margin: 0.5rem;
    font-size: 25px;
}

#addToCart:hover {
    background-color: #AD693E;
    border-color: white;
    color: white;
    cursor: pointer;
}

.debitAmountHolder {
    background-color: #F48B4A;
    border-color: white;
    color: white;
    height: 3rem;
    width: 16rem;
    margin: 0.5rem;
    font-size: 25px;
    text-align: center;
}

.debitAmount {
    font-size: 25px;
}

.activeSelection {
    background-color: #F48B4A;
    border-color: white;
    color: white;
}

#backMenu {
    background-color: #A20021;
    border-color: white;
    color: white;
    height: 3rem;
    width: 16rem;
    margin: 0.5rem;
}

#backMenu:hover {
    background-color: #6b2433;
    border-color: white;
    color: white;
    cursor: pointer;
}
