h1 {
    color: #F48B4A;
    text-align: center;
}

#orderHereButton {
    background-color: white;
    border-color: #F48B4A;
    color: #F48B4A;
    height: 3rem;
    width: 16rem;
    margin: auto;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#orderHereButton:hover {
    background-color: #F48B4A;
    border-color: white;
    color: white;
    cursor: pointer;
}
