h1 {
    color: #F48B4A;
    text-align: center;
}

.button-center {
    margin: auto;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#orderHereButton {
    background-color: white;
    border-color: #F48B4A;
    color: #F48B4A;
    height: 3rem;
    width: 16rem;
}

#orderHereButton:hover {
    background-color: #F48B4A;
    border-color: white;
    color: white;
    cursor: pointer;
}

#takeoutModalLabel {
    color: white;
}

.modal-content {
    background-color: #F48B4A;
}

#expressOption {
    background-color: #F9E784;
    border-color: black;
    color: black;
    height: 3rem;
    width: 16rem;
}

#expressOption:hover {
    background-color: black;
    border-color: black;
    color: #F9E784;
    cursor: pointer;
}

#driveThroughOption {
    background-color: #A20021;
    border-color: white;
    color: white;
    height: 3rem;
    width: 16rem;
}

#driveThroughOption:hover {
    background-color: white;
    border-color: white;
    color: #A20021;
    cursor: pointer;
}


