#title {
    color: #F48B4A;
    text-align: center;
}

button, #amount {
    background-color: white;
    height: 3rem;
    margin: 0.5rem;
}

button:hover {
    background-color: #F48B4A;
    border-color: white;
    color: white;
    cursor: pointer;
}