<head>
    <link rel="stylesheet" href="~/Content/menu.css">
</head>

<body>
    <h1 id="title">Menu</h1>
    <div class="row d-flex">
        <div class="col-4 d-flex offset-2">
            <button class="col-12" onclick="location.href='/Pizza/CreatePizza'" type="button">Crea tu propia pizza</button>
        </div>
        <div class="col-4 d-flex">
            <button class="col-12" onclick="location.href='/Combo/ComboOptions'" type="button">Combos</button>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-4 d-flex offset-2">
            <button class="col-12" onclick="location.href='/Pizza/ChoosePizza'" type="button">Pizzas</button>
        </div>
        <div class="col-4 d-flex">
            <button class="col-12" onclick="location.href='/Drink/ChooseBeverage'" type="button">Bebidas</button>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-4 d-flex offset-4">
            <p class="col-12 border border-2 border-dark text-center pt-2">Costo: </p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-4 d-flex offset-4">
            <button class="col-12">Ir a orden</button>
        </div>
    </div>
</body>


